
<meta http-equiv="refresh" content="10; URL=/userpage" />
<section class="sub-page-strip">
  <div class="container text-center" style="overflow-y: hidden;">
    <img src="/public/pictures/acces_denied.png"  class="img-fluid m-lg-3 " height="15%" width="15%">
    <h1 class="text-center mt-2 pt-3">Önnek nincs hozzáférése ennek </h1>
    <h1 class="text-center mt-2">az oldalnak a megnyitásához</h1>
    <p class="text-center ">A weboldal hamarosan átirányítja az Ön felhasználói szintjének megfelelő oldalra! </p>
    <div class="text-center">
      <button class="btn btn-info text-center mt-1" style="margin-bottom: 3%;"><a class="text-black text-center" href="/userpage">Profil megtekintése</a></button>
  </div>
  </div>
</section>