<div>
  <div class="rt-container">
        <div class="col-rt-12">
            <div class="Scriptcontent">
              <input id="modal-toggle" type="checkbox">
              <label class="modal-backdrop" for="modal-toggle"></label>
              <div class="modal-content">
              <label class="modal-close-btn" for="modal-toggle">
                <svg width="30" height="30"><line x1="5" y1="5" x2="20" y2="20"/><line x1="20" y1="5" x2="5" y2="20"/></svg>
              </label>
<div class="tabs">
<!--  Új jelszó  -->

<input class="radio " id="tab-addevent" name="tabs-name" type="radio" checked>
<label for="tab-addevent" class="table d-none"></label>
<div  class=" tabs-content">
  <span>Új jelszó beállítása</span>

   <form action="/refreshPassword" method="post">
       <input type="password" name="password_old" placeholder="Add meg a jelenlegi jelszót!" required>
       <input type="password" name="password_new" placeholder="Add meg az új jelszót!" required>
       <input type="password" name="password_new_match" placeholder="Add meg az új jelszót!" required>
        <div class="col-sm-6 d-flex justify-content-end"><input type="submit" value="Mentés"></div>
      </div>
   </form>
</div>
<!-- REGISZTRÁCIÓS RÉSZ  -->
  
         